<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/play_page.css">
    <title>play page</title>
</head>

<body>
    <div class="header">
        <div>
            <a href="main_page.html" class="logo">logo</a>
            <div class="tagline">Why?py!</div>
            <div class="right-area">
                <a href="#" class="button my">my</a>
                <a href="#" class="button list">목록</a>
            </div>
            <div class="center">
                <div class="search-container">
                    <input type="text" id="search-input">
                    <button type="submit" id="search-button">?</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <div class="video">동영상</div>
            <div class="hr">
                <hr>
            </div>
            <div class="title">동영상 제목</div>
            <div class="day">2023.07.20</div>
            <div class="explanation">동영상 설명, 구독자나 채널명</div>
        </div>
        <div class="right">
            <div class='v-line'></div>
            <div class="lien1">
                <div class="video1">영상1</div>
                <div class="title1">동영상제목</div>
            </div>
            <div class="lien2">
                <div class="video1">영상2</div>
                <div class="title1">동영상제목</div>
            </div>
            <div class="lien3">
                <div class="video1">영상3</div>
                <div class="title1">동영상제목</div>
            </div>
            <div class="lien4">
                <div class="video1">영상4</div>
                <div class="title1">동영상제목</div>
            </div>
            <div class="lien5">
                <div class="video1">영상5</div>
                <div class="title1">동영상제목</div>
            </div>
        </div>
    </div>
</body>

</html>