<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post page</title>
    <link rel="stylesheet" href="../static/css/post_page.css">
</head>

<body>
    <div class="header">
        <div>
            <a href="main_page.html" class="logo">logo</a>
            <div class="tagline">Why? py!</div>
        </div>
    </div>
    <div class="main">
        <div class="post">내가 쓴 게시글</div>
        <div class="box">
            <table>
                <thead>
                    <th>날짜</th>
                    <th>제목</th>
                    <th>카테고리</th>
                </thead>
                <tbody align="center">
                    <tr>
                        <td>23.05.15 15:34</td>
                        <td>메일 돌릴 때 유용한 코드</td>
                        <td>소스 코드 공유</td>
                    </tr>
                    <tr>
                        <td>22.06.11 19:33</td>
                        <td>질문 있습니다</td>
                        <td>질문</td>
                    <tr>
                        <td>22.03.04 17:00</td>
                        <td>(Q.오늘의 코드 문제 내용 그대로)</td>
                        <td>오늘의 코드</td>
                    </tr>
            </table>
        </div>
        <div class="back">
            <a href="./profile_main.html">이전</a>
        </div>
    </div>
</body>

</html>