<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쪽지쓰기</title>
    <link rel="stylesheet" href="../static/css/write_note.css">

</head>

<body>
    <div class="main">
        <div class="id-box">
            <input type="text" id="post-title" class="post-id-input" placeholder="받는 사람 닉네임 또는 아이디">
        </div>
        <div class="content-box">
            <textarea type="text" id="post-title" class="post-content-input" placeholder="이곳에 내용을 입력하세요"></textarea>
        </div>
        <div class="button">
            <button class="send-button" type="button">보내기</button>
            <button class="cancellation-button" type="button">취소</button>
        </div>
    </div>
</body>

</html>