@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
    font-family: 'NanumSquareRound';
}

a {
    text-decoration-line: none;
}

/* 로고 스타일 */
.logo {
    display: inline-block;
    background-color: #4a88e5;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;
}

/* 문구 스타일 */
.tagline {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 17px;
}

/* 버튼 스타일 */
.button {
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.button.plus-one {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #8f53b2;
    font-size: 30px;
}

.button.my {
    background-color: #757575;
    color: #fff;
    border-radius: 15px;
}

.button.list {
    padding: 10px;
    margin: 10px;
    background-color: #757575;
    color: #fff;
}

.left-area {
    position: relative;
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

/* 오른쪽 영역 스타일 */
.right-area {
    float: right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}

.problem {
    display: flex;
    flex-direction: column;
    flex: 7;
    margin-left: 5%;
}

h2 {
    margin-bottom: 20px;
    font-weight: bolder;
}

table {
    background-color: #f2f2f2;
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    border: none;
}

th,
td {
    background-color: #ebebeb;
    padding: 10px;
    text-align: center;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #565656;
}


/* 메인 구역 */
.all {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 600px;
}

.list {
    background-color: #ebebeb;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100%;
    text-align: center;
}

.bigbox {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-right: 5%;
    margin-top: 50px;
    margin-left: 6%
}

.box {
    padding: 5px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    width: 60%;
}

.id {
    color: #a41df1;
    padding-top: 9px;
    padding-left: 9px;
    background-color: #ebebeb;
}

.pro {
    background-color: #ebebeb;
    padding-left: 9px;
}

.num {
    background-color: #ebebeb;
    padding: 9px;
}

.fil {
    padding: 10px;
    padding-bottom: 10px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 58%;
}

.fil h3 {
    margin-bottom: 10px;
    background-color: #ebebeb;

}

/* 토글버튼 */
.select {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin-top: 15px;
}

.togglebutton {
    width: 15px;
    height: 15px;
    background-color: #ebebeb;
}

.select button {
    cursor: pointer;
    width: 70%;
    display: flex;
    font-size: medium;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 5px;
    border: 0px;
    background-color: #ebebeb;
    padding-bottom: 5px;
}

.select #check-list,
.select #status-list,
.select #level-list {
    position: absolute;
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0.0625rem solid rgb(215, 226, 235);
    padding: 5px;
    overflow: auto;
    list-style: none;
}

.select #check-list {
    margin-top: 20px;
}

.select #status-list {
    margin-top: 45px;
}

.select #level-list {
    margin-top: 70px;
}

.tyep1 {
    padding-bottom: 20px;
}

#check-list li,
#status-list li,
#level-list li {
    background-color: rgb(255, 255, 255);
}

#check-list label,
#status-list label,
#level-list label {
    background-color: rgb(255, 255, 255);
}





/* 검색창 스타일 */
.search-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#search-input {
    margin-top: 80px;
    padding: 10px;
    width: 500px;
    font-size: 13px;
    border-radius: 30px;
}

#search-button {
    position: relative;
    border-radius: 10px;
    left: -30px;
    padding: 10px 15px;
    font-size: 13px;
}